.image {
    width: 600px;
    padding-bottom: 10px;
    padding-top: 100px;
}
.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.leftCol {
    padding-right: 0 !important;
}

.rightCol {
    width: 70% !important;
    margin-right: 50px;
    padding-right: 300px;
}

.columns {
    padding-top: 100px;
}