.banner {
    margin-top: -3rem !important;
}

.postPurchaseMessages {
    border: 1px black dotted;
    border-radius: 8px;
}

.postButton {
    margin-top: 20px;
    border-radius: 15px;
}

.leftColumnCheckout {
    text-align: center;
}