.ShoppingCart {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 5;
  opacity: 0;
  animation: fadeIn 0.15s ease-out forwards;
}

.ShoppingCart-item {
  background-color: hsl(0, 0%, 95%);
  border-radius: 1.25rem;
  gap: 1rem;
}

.ShoppingCart-item figure {
  width: 96px;
  border-radius: 1rem;
  overflow: hidden;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}