.admin-footer {
    margin-bottom: -20px;
    margin-left: -30px;
    width: 125%;
    height: 70%;
    margin-top: auto;
}

 .card{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border-radius: 0.5rem;
 }