.whole-nav {
    height: 80px;
}

.navbrand {
    font-weight: 600;
    font-size: x-large;
}

.navbar-menu {
    font-weight: bold;
}

.burger-box {
    margin-top : 7px;
}

.tag-line {
    margin-left: -15px;
    margin-top: 12px;
}

.vertical {
    position: absolute;
    left: 30px;
    float: left;
    margin-right: 10px;
}
a.vertical {
    text-align: center;
    white-space: nowrap;
}
a span.childBrand2 {
    position: absolute;
    top: 40px;
    white-space: nowrap;
    font-size: 20px;
}

.parentBrand {
    position: relative;
}

@media screen and (max-width: 1023px) {
.navbar-menu.is-active {
    display: block;
    margin-top: 20px;
}
}

.cart-button {
    background-color: white;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    border-color: white;
}

.cart-button:focus:not(:active) {
    box-shadow:  0 0 0 rgb(50 115 220 / 25%);
}

.cart-button:focus {
    border-color: white;
}

.cart-button:hover {
    /* background-color: #ffd83d; */
    /* border-color: #ffdd57; */
}

@media screen and (min-width: 1024px) {
    .cart-button {
        background-color: #ffdd57;
        border-color: #ffdd57;
    }
    .cart-button:focus {
        border-color: #ffdd57
    }
    
    .cart-button:hover {
        background-color: #ffd83d;
        border-color: #ffdd57;
    }
    
}