.whole-nav {
    height: 90px;
}

.navbrand {
    font-weight: 600;
    font-size: xx-large;
}

.burger-box {
    margin-top : 7px;
}

.tag-line {
    margin-left: -15px;
    margin-top: 12px;
}

.search-bar {
    flex-grow: 1 !important;
    max-width: 150% !important;
}

/* .input, .textarea {
    max-width: none !important;
    width: 200% !important;
} */

.vertical {
    width: 50%;
    float: left;
    margin-right: 10px;
}
a.vertical {
    text-align: center;
}
a span {
    font-size: 20px;
    display: list-item;
    list-style: none;
}